<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <meta name="HandheldFriendly" content="true"/>
        <meta name="description" content="Blippex — a search engine made by the people, for the people" />
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" value="Blippex">
        <meta name="twitter:site" value="@blippex">
        <meta name="twitter:creator" content="@blippex">
        <meta name="twitter:url" value="https://blippex.github.io/">
        <meta name="twitter:image" content="/css/img/icon.png">
        <meta property="og:url" content="https://blippex.github.io/" />
        <meta property="og:site_name" content="Blippex" />
        <meta property="og:title" content="Blippex" />
        <meta property="og:image" content="https://www.blippex.org/css/img/icon.png"/>
        <meta property="og:type" content="website"/>
        <meta property="og:description" content="Blippex — a search engine made by the people, for the people" />

        <link rel="stylesheet" href="/css/stylesheet.css">
        <link rel="apple-touch-icon" href="/css/img/icon.png" />
        <link rel="shortcut icon" type="image/x-icon" href="/css/img/favicon.ico">
        <link rel="image_src" href="/css/img/promo.png" />

        <script type="text/javascript" src="//use.typekit.net/tos3wkq.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    </head>
    <body>
        <header>
          <img src="/css/img/logo-whitefull.svg" alt="Blippex">
        </header>
        <div class="container">
          {{ content }}
        </div>
        <!--<script type="text/javascript" src="http://goldengridsystem.com/assets/GGS.js"></script>-->
    </body>
</html>
