---
layout: default
---

<article id="content">
	<h2>{{ page.title }}</h2>
	{{ content }}
  	<date date-time="{{ page.date }}">Published on {{ page.date | date_to_string }}</date>
  	<a href="https://blippex.org/extension" title="Get Blippex on your browser" class="call">
  		Let's make search human again
  		<span>Get the browser extension to contribute to Blippex</span>
  	</a>
</article>

<div id="disqus_thread"></div>

<script type="text/javascript">
    var disqus_shortname = 'blippex';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>    